nav {
    display: flex;
}


nav button:not(.burger-menu) {
    margin: 0 15px; 
    position: relative; 
}

nav button:not(.burger-menu)::after {
    bottom: 0; 
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s;
    width: 0; 
}

body {
    margin: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

header {
    text-align: center;
}

.top-section {
    background-color: #ffffff;
    padding: 20px;
}

.bottom-section {
    background-color: #15472C;
    padding: 15px;
    display: flex;
    
}

.desktop-nav {
    display: flex; 
    align-items: center; 
}
.burger-menu1 {
    background-color: #15472C;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
}


nav button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    position: relative;
}

.button-text {
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.7);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    padding-right: 60px;

}

nav button:hover .button-text,
nav button.active .button-text {
    color: #ffffff;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #15472C; 
    color: white; 
    transition: left 0.6s ease-in-out; 
    z-index: 999; 
    padding-top: 60px; 
}

.sidebar.active {
    left: 0; 
}

.sidebar button {
    background-color: #15472C; 
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
}

.close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 200px;
    cursor: pointer;
}


.header-buttons {
    margin-left: auto; 
}

.register-button, .login-button {
    background-color: #15472C; 
    color: white;
    border: none; 
    border-radius: 10px; 
    padding: 15px 30px; 
    margin-left: 25px; 
    cursor: pointer; 
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
}

.register-button:hover, .login-button:hover {
    background-color: #0A4D1C; 
}

.submit {
    background-color: #15472C; 
    color: white;
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
    min-height: 40px; 
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 210px;

}
.support-section {
    display: flex;
    align-items: center;
}


.main::after {
    content: "";
    display: table;
    clear: both;
}

.site-info {
    display: flex;
    align-items: center;
}

.site-info img {
    width: 110px;
    height: auto;
}

.site-info h1 {
    margin-left: -15px;
    font-size: 18px;
    color: #333;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.main-content {

    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    height: 200vh;
    width: 100%; 
}

.foto1 {
    width: 460px;
    height: 300px;
    margin-bottom: 80px;
    margin-top: 200px;
}

.main-content {
    display: flex;
    align-items: flex-start; 
}

.content-left, .content-right {
    width: 50%;
}

.about-us-text {
    font-size: 17px;
    color: #15472C;
    margin-top: 20px;
    text-align: justify;
    margin-left: 50px;
    max-width: 500px;
}

.about-us-title {
    font-size: 23px;
    color: #15472C;
    font-weight: bold;
    margin-bottom: 10px; 
    margin-left: 50px;
}

.support-title {
    font-size: 23px;
    color: #15472C;
    font-weight: bold;
    margin-top: 100px; 
    margin-left: 50px;
    margin-bottom: 10px;
}

.support-text {
    font-size: 17px;
    color: #15472C;
    text-align: justify;
    margin-left: 50px;
    max-width: 500px;
}


.content-right {
    display: flex;
    flex-direction: column; 
}

.foto2 {
    width: 500px;
    height: 350px;
    margin-top: 150px;
    margin-left: 100px;
}


.map {
    margin-right: 100px;
    width: 550px;
    height: 350px; 
}

.map-title {
    margin-top: 50px;
    margin-left: 120px;
    font-size: 24px; 
    font-weight: bold; 
    color: #15472C;
}

.foto3 {
    width: 480px;
    height: 320px;
    margin-top: 50px;
}
form {
    width: 400px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }

  .show {
    display: flex !important;
  }

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

textarea {
    height: 100px; 
}

button[type="submit"] {
    background-color: #15472C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0f361f; 
}

select {
    appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>'); /* Додаємо стрілочку */
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 15px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #15472C;
    box-shadow: 0 0 5px rgba(21, 71, 44, 0.5);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.detail {
    padding-left: 100px;
    font-size: 10px;
}

.location-button {
    display: flex;
    align-items: center;
}

.location-button img {
    width: 24px; 
    margin-right: 5px;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px; 
}

.location-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-text {
    margin: 0; 
    font-size: 15px; 
    display: flex;
    flex-direction: column;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.location-select {
    font-weight: bold;
    font-size: 12px; 
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.desktop-nav {
    display: block;
}

.mobile-nav {
    display: none;
}
a {
  color: #15472C;
}

.burger-menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.desktop-nav button.active {
    font-weight: bold;
    color: blue; 
}

.top-section {
    background-image: url('background-top-section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-section {
    background-image: url('background-bottom-section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.mobile-menu {
    background-image: url('background-mobile-menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.support-section {
    background-image: url('background-support-section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 375px) {
    .about-us-text, .about-us-title, 
    .main-content {
        flex-direction: row;
        align-items: flex-start;
        height: auto;
    }
 
    .content-left, .content-right {
        width: 50%;
    }

    .foto1 {
        margin-bottom: 0;
        margin-top: 150px;
    }

    .map {
       margin: 0;
    }
      .foto2{
        margin-left: 100px;
        margin-top: 30px;
    }


    .map-title {
        margin-top: 30px;
        margin-left: 0;
    }

    .foto3 {
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 375px) {
    .top-section {
        flex-direction: column;
        align-items: center;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .content-left, .content-right {
        width: 100%;
    }

    .foto1, .foto2, .map, .foto3 {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }
    .map {
        height: 200px;
    }

    .map-title {
        margin-left: 0;
    }

    .about-us-title, .support-title {
        margin-left: 0;
    }

    .about-us-text, .support-text {
        margin-left: 0;
        margin-right: 0;
    }
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
           
.mobile-menu.open {
        display: block;
 }
    .burger-menu {
    background-color: #15472C;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
}

    .register-button, .login-button {
        font-size: 12px;
        padding: 10px 20px;
        margin-right: 305px;
    }

    .location-text {
        font-size: 12px;
    }

    .map-title, .about-us-title, .support-title {
        font-size: 18px;
        margin-left: 20px;
    }

    .about-us-text, .support-text {
        font-size: 13px;
    }

    .site-info h1 {
        font-size: 16px;
    }
    .submit {
        margin-left: 90px;
    }
    .location-text, .locationimage {
        visibility: hidden;
    }
    form {
    width: 100%; 
}

.form-container {
    padding: 10px; 
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 20px);
}

textarea {
    height: 80px; 
}

button[type="submit"] {
    width: 100%; 
    margin-top: 10px; 
}
footer {
    margin-top: 100px;
}

}
